body {
	color: #000000;
	font: 12px Verdana;
	text-align: center;
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

.break {
	clear: both;
	font-size: 0;
	height: 0;
	width: 0;
}

/** BEGIN wrapper **/
#wrapper {
	margin: auto;
	text-align: left;
	max-width: 100%;
}
/** END wrapper **/

/** BEGIN header **/
#header {
	height: 200px;
}

#header ul {
	clear: both;
	list-style-type: none;
}

#header ul li {
	float: left;
}

#header .pages {
	display: flex;
	float: left;
	margin-bottom: 0;
	width: 100%;
}

#header .pages li {
	font-size: 0.7em;
	font-weight: bold;
	text-transform: uppercase;
}

#header .pages li a {
	color: #ffffff;
	display: block;
	padding: 8px 10px;
	text-decoration: none;
}

#header .pages li a:hover {
	text-decoration: underline;
}

#header nav {
	width: 100%;
	background-color: #000;
	overflow-x: auto;
	white-space: nowrap;
}

#header nav ul li:hover > ul {
	display: block;
}

#header nav ul {
	background: linear-gradient (top, #efefef 0%, #bbbbbb 100%);
	background: -moz-linear-gradient (top, #efefef 0%, #bbbbbb 100%);
	background: -webkit-linear-gradient (top, #efefef 0%, #bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba (0, 0, 0, 0.15);
	display: inline-table;
	list-style: none;
	padding: 0 2%;
	position: relative;
}

#header nav ul li {
	float: left;
}

#header nav ul li:hover {
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
}

#header nav ul li a {
	color: #000000;
	display: block;
	padding: 25px 40px;
	text-decoration: none;
}

#header nav ul ul {
	display: none;
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}

#header nav ul ul li {
	border-bottom: 1px solid #575f6a;
	border-top: 1px solid #6b727c;
	float: none;
	position: relative;
}

#header nav ul ul li a {
	color: #fff;
	padding: 15px 40px;
}

#header nav ul ul ul {
	left: 100%;
	position: absolute;
	top: 0;
}

#header h1 {
	clear: both;
	float: left;
	padding: min(1%, 10px) 2%;
}

#header .ad {
	float: right;
	padding-top: 30px;
}
/** END header **/

/** BEGIN body **/
#body {
	padding: 10px 8px;
	display: flex;
	justify-content: center;
	gap: min(20px, 10%);
}

.articleBody {
	margin-left: 3%;
	margin-right: 3%;
}

.articleBody img {
	background-color: #f2f2f1;
	border: 1px solid #e9e9e9;
	padding: 5px;
	vertical-align: middle;
	width: 100%;
}
/** END body **/

/** BEGIN content **/
#content {
	border: 1px solid rgb(175, 175, 175) (128, 128, 128, 0.568);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	clear: both;
	float: left;
	font-family: Arial;
	max-width: 676px;
	width: 100%;
}

#content .foot {
	padding: 25px 8px;
}

#content .atitle {
	float: left;
	font-size: 0.9em;
	font-weight: normal;
	margin: 10px 30px;
	padding: 5px 8px;
	text-transform: uppercase;
}

#content .featured {
	padding: 5px 30px 10px;
}

#content .featured h2.title {
	background-color: #212121;
	color: #ffffff;
	float: left;
	font-size: 0.9em;
	font-weight: normal;
	margin-bottom: 10px;
	padding: 5px 8px;
	text-transform: uppercase;
}

#content .featured .thumb {
	background-color: #f2f2f1;
	border: 1px solid #e9e9e9;
	clear: both;
	height: 315px;
	padding: 5px;
	width: 590px;
}

#content .featured .b {
	height: 315px;
	overflow: hidden;
	position: relative;
	width: 589px;
}

#content .featured .photo {
	list-style-type: none;
}

#content .photo li {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 0;
}

#content .photo li.first {
	z-index: 2;
}

#content .photo li img {
	width: 589px;
}

#content .featured .text {
	list-style-type: none;
}

#content .featured .text li {
	background: url(images/shade.png) repeat 0 0;
	color: #ffffff;
	font-family: Verdana;
	height: 285px;
	padding: 15px;
	position: absolute;
	right: -270px;
	top: 0;
	width: 230px;
	z-index: 4;
}

#content .featured .text li.first {
	right: 0;
}

#content .featured .text h2 {
	font-size: 1.6em;
	margin-bottom: 15px;
}

#content .featured .text p {
	line-height: 1.6em;
	margin-bottom: 15px;
}

#content .featured .text a {
	color: #ffffff;
	text-decoration: none;
}

#content .featured .text .readmore {
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
}

#content .post {
	border-top: 1px solid #e9e9e9;
	clear: both;
	margin: 0 30px;
}

#content .first {
	border-top: 0;
}

#content .post .l {
	float: left;
	padding: 15px 0;
}

#content .post img {
	background-color: #f2f2f1;
	border: 1px solid #e9e9e9;
	padding: 5px;
}

#content .post .r {
	padding: 15px 0;
	width: 100%;
}

#content .post h2 {
	font-size: 1.8em;
	font-weight: normal;
	margin-bottom: 15px;
}

#content .post h2 a {
	color: #191919;
	text-decoration: none;
}

#content .post p {
	line-height: 1.6em;
	margin-bottom: 15px;
}

#content .details {
	float: left;
	font-size: 0.85em;
	margin-bottom: 0 !important;
	text-transform: uppercase;
}

#content .details a {
	color: #191919;
	margin: 0 5px;
	text-decoration: none;
}

#content .details a:hover {
	text-decoration: underline;
}

#content .comments a {
	background-color: #212121;
	color: #ffffff;
	display: block;
	font-family: Verdana;
	font-size: 0.9em;
	padding: 2px 6px;
	text-decoration: none;
}

#content .postnav {
	clear: both;
	float: right;
	padding: 0 2%;
}

#content .postnav ul {
	list-style-type: none;
}

#content .postnav ul li {
	float: left;
	font-family: Arial;
	padding: 0 4px;
}

#content .postnav ul li a {
	border: 1px solid #e1e1e1;
	color: #4f4f4f;
	display: block;
	padding: 4px 8px;
	text-decoration: none;
}

#content .postnav ul li a:hover {
	border-color: #ffffff;
}

#content .single {
	padding: 10px 30px;
}

#content .single h2 {
	font-size: 1.4em;
	margin-bottom: 10px;
	text-transform: none;
}

#content .single p {
	line-height: 1.5em;
	margin-bottom: 10px;
}

#content .single ul,
#content .single ol {
	list-style-position: inside;
	margin-bottom: 10px;
}

#content .single li {
	line-height: 1.5em;
	padding: 2px 0;
}

#content .single blockquote {
	background-color: #eeeeee;
	border-color: #e0e0e0;
	border-style: solid;
	border-width: 1px 0;
	margin-bottom: 10px;
	padding: 10px 10px 5px;
}

#content .single h3,
#content .single h4,
#content .single h5,
#content .single h6 {
	font-size: 1.2em;
	margin-bottom: 5px;
}
/** END content **/

/** BEGIN archive **/
.archive-title {
	color: #000000;
	text-align: center;
	text-decoration: none;
}

.archive-link {
	text-decoration: none;
}

.archive-display {
	border: 1px solid rgba(0, 0, 0, 0.342);
	margin: auto;
	margin-bottom: 2%;
	max-width: 30% !important;
	min-width: 200px;
}

.archive-display img {
	margin: auto;
	width: 100%;
}

/** END archive **/

/** BEGIN sidebar **/
#sidebar {
	float: right;
	width: 330px;
}

@media screen and (max-width: 900px) {
	#body {
		display: block;
	}

	#sidebar {
		margin-top: 1%;
		width: 100%;
	}

	#content {
		max-width: 100%;
	}
}

#sidebar .box {
	border: 2px solid #e1e1e1;
	margin-bottom: 15px;
	padding: 10px;
}

#sidebar h2 {
	background-color: #212121;
	color: #ffffff;
	font-size: 0.9em;
	font-weight: normal;
	margin-bottom: 10px;
	padding: 5px 8px;
	text-transform: uppercase;
	width: 130px;
}

#sidebar ul {
	list-style-type: none;
}

#sidebar ul li {
	border-bottom: 1px solid #e9e9e9;
	line-height: 1.5em;
	padding: 2px 0;
}

#sidebar ul li a {
	color: #191919;
	text-decoration: none;
}

#sidebar .ads {
	margin-bottom: 10px;
	text-align: center;
}

#sidebar .ads img {
	margin: 4px;
}

#sidebar .search {
	border: 2px solid #e1e1e1;
	height: 29px;
	margin-bottom: 10px;
}

#sidebar .search input {
	border: 0;
	float: left;
	margin: 6px 4px;
	width: 220px;
}

#sidebar .search button {
	background-color: #212121;
	border: 0;
	color: #ffffff;
	float: right;
	font-size: 0.8em;
	font-weight: bold;
	height: 29px;
	text-transform: uppercase;
	width: 38px;
}
/** END sidebar **/

/** BEGIN footer **/
#footer {
	background-color: #212121;
	clear: both;
	color: #ffffff;
}

#footer p {
	font-size: 0.9em;
	margin: auto;
	padding: 15px 0;
	text-align: left;
	width: 940px;
}

#footer a {
	color: #ffffff;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

/* For improved visual feedback, add user-valid and user-invalid classes to input and textarea elements. */
input:user-valid,
textarea:user-valid,
select:user-valid {
	border: 1px solid #28a745;
}

input:user-invalid,
textarea:user-invalid,
select:user-invalid {
	border: 1px solid #dc3545;
}
