* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font: 12px Verdana;
	color: #000000;
	background: url(images/backgroundnew.gif) repeat-x 0 0;
}

img {
	border: 0;
}

.break {
	font-size: 0;
	width: 0;
	height: 0;
	clear: both;
}

.alignleft {
	float: left;
	margin: 4px 10px 5px 0;
}

.alignright {
	float: right;
	margin: 4px 0 5px 10px;
}

.aligncenter {
	text-align: center;
}

/** BEGIN wrapper **/

#wrapper {
	width: 1050px;
	margin: auto auto;
	text-align: left;
}

/** END wrapper **/

/** BEGIN header **/

#header {
	height: 200px;
	padding: 0 8px;
}

#header ul {
	list-style-type: none;
	clear: both;
}

#header ul li {
	float: left;
}

#header .pages {
	float: left;
}

#header .pages li {
	font-weight: bold;
	font-size: 0.7em;
	text-transform: uppercase;
}

#header .pages li a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 8px 10px;
}

#header .pages li a:hover {
	text-decoration: underline;
}

#header nav ul ul {
	display: none
}

#header nav ul li:hover>ul {
	display: block;
}

#header nav ul {
	background: linear-gradient (top, #efefef 0%, #bbbbbb 100%);
	background: -moz-linear-gradient (top, #efefef 0%, #bbbbbb 100%);
	background: -webkit-linear-gradient (top, #efefef 0%, #bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba (0, 0, 0, 0.15);
	padding: 0 20px;
	list-style: none;
	position: relative;
	display: inline-table;
}

#header nav ul li {
	float: left;
}

#header nav ul li:hover {
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
}

#header nav ul li a {
	display: block;
	padding: 25px 40px;
	color: #000000;
	text-decoration: none;
}

#header nav ul ul {
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}

#header nav ul ul li {
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

#header nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}

#header nav ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}

#header h1 {
	float: left;
	padding: 35px 0 40px;
	clear: both;
}

#header .ad {
	float: right;
	padding-top: 30px;
}

/** END header **/

/** BEGIN body **/

#body {
	padding: 10px 0;
}

.articleBody {
	margin-left: 3%;
	margin-right: 3%
}

.articleBody img {
	width: 100%;    
	border: 1px solid #e9e9e9;
    background-color: #F2F2F1;
	padding: 5px;
	vertical-align: middle;
}

/** END body **/

/** BEGIN content **/

#content {
	clear: both;
	width: 676px;
	float: left;
	background: url(images/contentbody.gif) repeat-y 0 0;
	font-family: Arial;
}

#content .head {
	background: url(images/contenthead.gif) no-repeat 0 0;
}

#content .foot {
	background: url(images/contentfoot.gif) no-repeat 0 bottom;
	padding: 25px 8px;
}

#content .atitle {
	float: left;
	font-size: 0.9em;
	text-transform: uppercase;
	padding: 5px 8px;
	font-weight: normal;
	margin: 10px 30px;
}

#content .featured {
	padding: 5px 30px 10px;
}

#content .featured h2.title {
	float: left;
	font-size: 0.9em;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #212121;
	padding: 5px 8px;
	font-weight: normal;
	margin-bottom: 10px;
}

#content .featured .thumb {
	width: 590px;
	height: 315px;
	padding: 5px;
	border: 1px solid #E9E9E9;
	background-color: #F2F2F1;
	clear: both;
}

#content .featured .b {
	width: 589px;
	height: 315px;
	overflow: hidden;
	position: relative;
}

#content .featured .photo {
	list-style-type: none;
}

#content .photo li {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

#content .photo li.first {
	z-index: 2;
}

#content .photo li img {
	width: 589px;
}

#content .featured .text {
	list-style-type: none;
}

#content .featured .text li {
	width: 230px;
	height: 285px;
	position: absolute;
	top: 0;
	right: -270px;
	padding: 15px;
	color: #ffffff;
	font-family: Verdana;
	background: url(images/shade.png) repeat 0 0;
	z-index: 4;
}

#content .featured .text li.first {
	right: 0;
}

#content .featured .text h2 {
	font-size: 1.6em;
	margin-bottom: 15px;
}

#content .featured .text p {
	line-height: 1.6em;
	margin-bottom: 15px;
}

#content .featured .text a {
	color: #ffffff;
	text-decoration: none;
}

#content .featured .text .readmore {
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
}

#content .post {
	clear: both;
	border-top: 1px solid #E9E9E9;
	margin: 0 30px;
}

#content .first {
	border-top: 0;
}

#content .post .l {
	float: left;
	padding: 15px 0;
}

#content .post img {
	border: 1px solid #e9e9e9;
	background-color: #F2F2F1;
	padding: 5px;
}

#content .post .r {
	float: right;
	width: 430px;
	padding: 15px 0;
}

#content .post h2 {
	font-weight: normal;
	font-size: 1.8em;
	margin-bottom: 15px;
}

#content .post h2 a {
	text-decoration: none;
	color: #191919;
}

#content .post p {
	line-height: 1.6em;
	margin-bottom: 15px;
}

#content .details {
	float: left;
	font-size: 0.85em;
	text-transform: uppercase;
	margin-bottom: 0 !important;
}

#content .details a {
	text-decoration: none;
	color: #191919;
	margin: 0 5px;
}

#content .details a:hover {
	text-decoration: underline;
}

#content .comments a {
	display: block;
	color: #ffffff;
	font-family: Verdana;
	font-size: 0.9em;
	text-decoration: none;
	padding: 2px 6px;
	background-color: #212121;
}

#content .postnav {
	clear: both;
	float: right;
	padding: 0 20px;
}

#content .postnav ul {
	list-style-type: none;
}

#content .postnav ul li {
	float: left;
	padding: 0 4px;
	font-family: Arial;
}

#content .postnav ul li a {
	display: block;
	padding: 4px 8px;
	border: 1px solid #E1E1E1;
	text-decoration: none;
	color: #4F4F4F;
}

#content .postnav ul li a:hover {
	border-color: #ffffff;
}

#content .single {
	padding: 10px 30px;
}

#content .single h2 {
	margin-bottom: 10px;
	font-size: 1.4em;
	text-transform: none;
}

#content .single p {
	line-height: 1.5em;
	margin-bottom: 10px;
}

#content .single ul,
#content .single ol {
	list-style-position: inside;
	margin-bottom: 10px;
}

#content .single li {
	line-height: 1.5em;
	padding: 2px 0;
}

#content .single blockquote {
	padding: 10px 10px 5px;
	margin-bottom: 10px;
	background-color: #eeeeee;
	border-width: 1px 0;
	border-style: solid;
	border-color: #e0e0e0;
}

#content .single h3,
#content .single h4,
#content .single h5,
#content .single h6 {
	font-size: 1.2em;
	margin-bottom: 5px;
}

/** END content **/

/** BEGIN sidebar **/

#sidebar {
	width: 330px;
	float: right;
}

#sidebar .box {
	border: 2px solid #E1E1E1;
	padding: 10px;
	margin-bottom: 15px;
}

#sidebar h2 {
	font-size: 0.9em;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #212121;
	padding: 5px 8px;
	font-weight: normal;
	margin-bottom: 10px;
	width: 130px;
}

#sidebar ul {
	list-style-type: none;
}

#sidebar ul li {
	line-height: 1.5em;
	padding: 2px 0;
	border-bottom: 1px solid #E9E9E9;
}

#sidebar ul li a {
	color: #191919;
	text-decoration: none;
}

#sidebar .ads {
	text-align: center;
	margin-bottom: 10px;
}

#sidebar .ads img {
	margin: 4px;
}

#sidebar .search {
	border: 2px solid #E1E1E1;
	margin-bottom: 10px;
	height: 29px;
}

#sidebar .search input {
	border: 0;
	float: left;
	width: 220px;
	margin: 6px 4px;
}

#sidebar .search button {
	border: 0;
	background-color: #212121;
	color: #ffffff;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	width: 38px;
	height: 29px;
	float: right;
}

/** END sidebar **/

/** BEGIN footer **/

#footer {
	clear: both;
	background-color: #212121;
	color: #ffffff;
}

#footer p {
	width: 940px;
	margin: auto auto;
	text-align: left;
	font-size: 0.9em;
	padding: 15px 0;
}

#footer a {
	color: #ffffff;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}
