name: Code Quality Assurance - Markdown
permissions:
  contents: read

on:
  push:
    branches: [master]
    paths:
      - "**/*.md"
      - ".markdownlint.json"
      - ".markdownlintignore"
      - ".github/workflows/code-qa-md.yaml"
  pull_request:
    branches: [master]
    paths:
      - "**/*.md"
      - ".markdownlint.json"
      - ".markdownlintignore"
      - ".github/workflows/code-qa-md.yaml"

jobs:
  lint-markdown:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Run installs
        run: npm ci
      - name: Run markdownlint on Markdown files
        run: npm run lint:markdown
